@font-face
{
  font-family: "sans-serif";
}
html
{
  margin: 0;
     /*background: #f5f5f5;*/
  font-family: sans-serif ;
  width: 100%;
}
.menuHorizontal
{
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0%;
  left: 0%;
  background: #121516;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.botonMenu
{
  width: 40px;
  height: 45px;
  margin-top: 5px;
  margin-left: 10px;
  background: url("../images/icono_menu.png") no-repeat center center;
  background-size: 30px 30px;
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
}
.menuHorizontal figure
{
  width: 40px;
  height: 40px;
  display: inline-block;
  float: right;
  margin: 5px 15px 5px 0px;

}
.menuHorizontal figure img
{
  width: 110%;
  height: 100%;
}

.menuNavegacion
{
  position: fixed;
  width: 25%;
  height: calc(100% - 50px);
  top: 50px;
  left: -25%;
  overflow-y: scroll;
  background: white;
  background-image:url('images/fondo-negro-2218.jpg');
  box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.2);
}
.contenedorPrincipal
{
  width: 100%;
  height: 800px;
  background-image:url("../images/fondo.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-top: auto;
  padding-top: 100px;
  padding-left: 13%;
  padding-right: 13%;
}
.contenedorPrincipal2
{
  width: 100%;
  height: 800px;
  background-image:url("../images/azul.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-top: auto;
  padding-top: 100px;
  padding-left: 15%;
  padding-right: 15%;
}
.pieDePagina
{
  width: 100%;
  height: 100px;
  margin-left: 0%;
  border-top: 1px solid #060606;
  box-sizing: border-box;
}
.pieDePagina p
{
  text-align: center;
  color: #060606;/*a2a2a2*/
  font-size: 14px;
}
@media screen and (max-width: 450px){
   .contenedorPrincipal
  {
    padding-top:50px;
    padding-left: 3%;
    padding-right: 3%;
  }
}
